p{
    width: 800px;
}

.nav{
    
    ul{
        padding-left: 0px;
        padding-top: 20px;
        
        
        li{
            list-style: none;
            padding-right: 50px;
            
            width: 80px;
            height: 40px;
            background-color: aqua;
            border-radius: 20px;
        
            margin-right: 10px;
            text-align: center;
            a{
                text-decoration: none;     
            }
        }
    }
}


.col-4{
    img{
        width: 300px;
        height: 180px;
    }
}

h5{
    display: inline;
    font-size: 18px;
}

.col-4{
    .image{
        padding: 60px 150px;
    }
}

.cards{
   .row{
    background-color: grey;
    height: 340px;
   }
}

.bircartcas{
    padding: 30px 50px;
}

.birkart{
    padding-top: 30px;

}

.taksit{
    h1{
        padding-top: 30px;
    }
}

.col-lg-4{
    img{
        width: 200px;
        height: 120px;
        
    }
}

.col-lg-4{
    .image{
        padding-top: 40px;
    }
}

.col-lg-4{
    .card{
        border-radius: 15px;
    }
}

button{
    border-radius: 10px;
}